div.container_spelend 
    #spelSpeler1 
        p #{speler1}
    #spelSpeler2
        p #{speler2}
    #spelSpeler3
        p #{speler3}
    #kaartenSpeler1 
    #kaartenSpeler2
        p #{trump}
        p #{player_turn}
    #kaartenSpeler3 
    #eigenKaarten
        each c in cards
            div.card(class=c.clickable && "clickable", data-card = c.card) #{c.unicode}
    #cards_on_table
        each c in cards_on_table
            div.card #{c.unicode}
            
script.
    document.querySelectorAll('.clickable').forEach(item => {
        item.addEventListener('click', function () {
            ws.send(this.dataset['card'])
        })
    })

    //@ sourceURL=spelend.js
