div.container
    #Speler1
        p #{speler1}
    #Speler2
        p #{speler2}
    #ScoreMultiplier
        p#scoreMulti Score x#{scoreFactor} 
    #Speler3 
        p #{speler3}
    #Speler4 
        p #{speler4}
    #BidOptions 
         each b in bidopties
            button.bidOptieKnoppen #{b}
    #Cards
script.
    document.querySelectorAll('.bidOptieKnoppen').forEach(item => {
        item.addEventListener('click', function () {
            ws.send(this.textContent)
        })
    })
    //@ sourceURL=starten.js